# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env
.venv/
/app/routers.__pycache__/
# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
shrekchat-*.json
/shrekchat.db
