body {
    min-height: 90vh;
    background: url("/static/images/background.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-form-container {
    background: rgba(34, 61, 85, 0.95);
    border-radius: 20px;
    padding: 40px 30px;
    width: 350px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-form-container h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 26px;
    text-align: center;
}

.password-form-container input {
    width: 325px;
    padding: 12px;
    margin-bottom: 28px;
    border: none;
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    color: #223d55;
}

.password-form-container button {
    width: 350px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #25d366;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}

.password-form-container button:hover {
    background: #1ebc59;
}

.password-form-container p {
    color: #ff6b6b;
    text-align: center;
    font-size: 18px;
}

.link {
    color: #25d366;
    text-decoration: underline;
    font-weight: 600;
    transition: color 0.2s;
}