body {
    margin: 0;
    padding: 0;
    background: #112c3c; /* Фон страницы */
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Центрирование окна */
}

.container {
    position: relative; /* Для позиционирования кнопки "Назад" */
    width: 340px; /* Ограничение ширины окна */
    height: 700px; /* Ограничение высоты окна */
    background: #838A98; /* Цвет фона окна */
    border-radius: 20px; /* Скруглённые углы */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Тень для эффекта */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование содержимого по вертикали */
    align-items: center; /* Центрирование содержимого по горизонтали */
    padding: 15px; /* Внутренние отступы */
    box-sizing: border-box;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black;
    font-size: 24px;
}

.header {
    margin-bottom: 20px; /* Отступ снизу */
    color: black;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.input-container {
    width: 90%; /* Ширина контейнера */
    margin-bottom: 20px; /* Отступ снизу */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 100%; /* Поле ввода занимает всю ширину контейнера */
    height: 45px; /* Высота поля ввода */
    padding: 6px 12px; /* Внутренние отступы */
    border: none;
    border-radius: 15px; /* Скруглённые углы */
    background: #CDCFD4;
    font-size: 14px; /* Размер текста */
    color: black;
    box-sizing: border-box;
    margin-bottom: 15px; /* Отступ снизу */
}

.edit-button {
    width: 100%; /* Кнопка занимает всю ширину контейнера */
    height: 45px; /* Высота кнопки */
    background: #7494EC;
    border: none;
    border-radius: 15px; /* Скруглённые углы */
    color: white;
    font-size: 14px; /* Размер текста */
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Центрирование текста внутри кнопки */
    align-items: center; /* Центрирование текста внутри кнопки */
}