<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/css/password.css">
</head>
<body>
    <div class="password-form-container">
        <h2>Reset Password</h2>
        <input id="new-password" type="password" placeholder="New Password" required>
        <button id="reset-password-btn">Change password</button>
        <p id="reset-password-error"></p>
        <p style="color: white;">Go to <a class="link" href="/">Login</a></p>
    </div>
    <script src="/static/js/password/reset_password.js"></script>
</body>
</html>