<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Capybara Login</title>
  <link rel="stylesheet" href="/static/css/loginstyle.css" />
  <link href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Jua&display=swap" rel="stylesheet">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
  <div class="container">
    <img src="/static/img/image 86.png" alt="Capybara Logo" class="logo" />

    <h1>CAPYBARA</h1>

    <form method="POST" action="/login">
      <div class="login-form">
        <input type="text" name="username" placeholder="User Name or Email" class="input" required />
        <input type="password" name="password" placeholder="Password" class="input" required />

        <!-- <div class="captcha"> -->
          <div class="g-recaptcha" data-sitekey="{{ config['RECAPTCHA_SITE_KEY'] }}"></div>
        <!-- </div> -->

        <button type="submit" class="login-btn">Login</button>
        <button type="button" class="register-btn" onclick="window.location.href='/register'">new here?</button>
      </div>
    </form>
  
    <div class="version">0.0.1</div>
  </div>
</body>
</html>