<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatsApp Register</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="background"></div>

    <div class="form-container-register">
        <h1 class="title">ChatsApp</h1>

        <form action="/auth/register" method="post">
            <!-- Поле для ввода имени пользователя -->
            <div class="input-group">
                <i class="icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.6667 13.3333C11.6667 8.73096 15.3977 5 20.0001 5C24.6025 5 28.3334 8.73096 28.3334 13.3333C28.3334 17.9357 24.6025 21.6667 20.0001 21.6667C15.3977 21.6667 11.6667 17.9357 11.6667 13.3333ZM20.0001 18.3333C22.7615 18.3333 25.0001 16.0948 25.0001 13.3333C25.0001 10.5719 22.7615 8.33333 20.0001 8.33333C17.2387 8.33333 15.0001 10.5719 15.0001 13.3333C15.0001 16.0948 17.2387 18.3333 20.0001 18.3333Z"
                            fill="#2BDB89" />
                        <path
                            d="M10.572 27.2386C8.07151 29.7391 6.66675 33.1304 6.66675 36.6667H10.0001C10.0001 34.0145 11.0536 31.471 12.929 29.5956C14.8044 27.7202 17.3479 26.6667 20.0001 26.6667C22.6522 26.6667 25.1958 27.7202 27.0711 29.5956C28.9465 31.471 30.0001 34.0145 30.0001 36.6667H33.3334C33.3334 33.1304 31.9287 29.7391 29.4282 27.2386C26.9277 24.7381 23.5363 23.3333 20.0001 23.3333C16.4639 23.3333 13.0725 24.7381 10.572 27.2386Z"
                            fill="#2BDB89" />
                    </svg>
                </i>
                <input type="text" name="username" placeholder="Username" required />
            </div>

            <!-- Email field -->
            <div class="input-group">
                <i class="icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="8.33325" y="18.3333" width="23.3333" height="16.6667" rx="1" stroke="#2BDB89"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M11.6667 13.3333C11.6667 8.73096 15.3977 5 20.0001 5V5C24.6025 5 28.3334 8.73096 28.3334 13.3333V18.3333H11.6667V13.3333Z"
                            stroke="#2BDB89" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </i>
                <input type="email" name="email" id="email" placeholder="Enter your email" required />
            </div>

            <!-- Поле для ввода пароля -->
            <div class="input-group">
                <i class="icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="8.33325" y="18.3333" width="23.3333" height="16.6667" rx="1" stroke="#2BDB89"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M11.6667 13.3333C11.6667 8.73096 15.3977 5 20.0001 5V5C24.6025 5 28.3334 8.73096 28.3334 13.3333V18.3333H11.6667V13.3333Z"
                            stroke="#2BDB89" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </i>
                <input type="password" id="password" name="password" placeholder="Password" required />
                <span class="toggle-password" onclick="togglePassword('password')">
                    <svg class="icon-eye" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z" stroke="#2BDB89"
                            stroke-linecap="round" />
                        <circle cx="12" cy="12" r="3" stroke="#2BDB89" stroke-linecap="round" />
                    </svg>
                    <svg class="icon-eye-off" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z" stroke="#2BDB89"
                            stroke-linecap="round" />
                        <circle cx="12" cy="12" r="3" stroke="#2BDB89" stroke-linecap="round" />
                        <path d="M3 21L20 4" stroke="#2BDB89" stroke-linecap="round" />
                    </svg>
                </span>
            </div>

            <!-- Repeat Password field -->
            <div class="input-group">
                <i class="icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="8.33325" y="18.3333" width="23.3333" height="16.6667" rx="1" stroke="#2BDB89"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M11.6667 13.3333C11.6667 8.73096 15.3977 5 20.0001 5V5C24.6025 5 28.3334 8.73096 28.3334 13.3333V18.3333H11.6667V13.3333Z"
                            stroke="#2BDB89" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </i>
                <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm password" required />
                <span class="toggle-password" onclick="togglePassword('confirm-password')">
                    <svg class="icon-eye" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z" stroke="#2BDB89"
                            stroke-linecap="round" />
                        <circle cx="12" cy="12" r="3" stroke="#2BDB89" stroke-linecap="round" />
                    </svg>
                    <svg class="icon-eye-off" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z" stroke="#2BDB89"
                            stroke-linecap="round" />
                        <circle cx="12" cy="12" r="3" stroke="#2BDB89" stroke-linecap="round" />
                        <path d="M3 21L20 4" stroke="#2BDB89" stroke-linecap="round" />
                    </svg>
                </span>
            </div>

            <button class="login-button" type="submit">Sign up</button>

            <div class="signup-link">
                <a href="/login">Already have an account?</a>
            </div>
        </form>
    </div>

    <script src="/static/app.js"></script>
</body>

</html>